In [ ]:
#What's in my workspace?
!ls

## Load Packages

In [1]:
#import pandas
import pandas as pd
import numpy as np

In [4]:
#Import data
seattle = pd.read_csv("https://assets.datacamp.com/production/repositories/3634/datasets/6fd451508ecce0d63354fad86704236592eed8ca/seattle_weather.csv")

df = pd.read_csv("datasets/marketing.csv")

      user_id date_served marketing_channel          variant converted  \
0  a100000029      1/1/18         House Ads  personalization      True
1  a100000030      1/1/18         House Ads  personalization      True
2  a100000031      1/1/18         House Ads  personalization      True
3  a100000032      1/1/18         House Ads  personalization      True
4  a100000033      1/1/18         House Ads  personalization      True

  language_displayed language_preferred    age_group date_subscribed  \
0            English            English   0-18 years          1/1/18
1            English            English  19-24 years          1/1/18
2            English            English  24-30 years          1/1/18
3            English            English  30-36 years          1/1/18
4            English            English  36-45 years          1/1/18

  date_canceled subscribing_channel is_retained
0           NaN           House Ads        True
1           NaN           House Ads        True
2           NaN           House Ads        True
3           NaN           House Ads        True
4           NaN           House Ads        True

In [ ]:
print(df.head(5))

In [5]:
df.describe()

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
count,10037,10021,10022,10037,10022,10037,10037,10037,1856,577,1856,1856
unique,7309,31,5,2,2,4,4,7,31,115,5,2
top,a100000882,1/15/18,House Ads,control,False,English,English,19-24 years,1/16/18,4/2/18,Instagram,True
freq,12,789,4733,5091,8946,9793,9275,1682,163,15,600,1279

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   converted            10022 non-null  object
 5   language_displayed   10037 non-null  object
 6   language_preferred   10037 non-null  object
 7   age_group            10037 non-null  object
 8   date_subscribed      1856 non-null   object
 9   date_canceled        577 non-null    object
 10  subscribing_channel  1856 non-null   object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 941.1+ KB

In [14]:
#Check column names - that they were imported correctly
df.columns.tolist()

['user_id',
 'date_served',
 'marketing_channel',
 'variant',
 'converted',
 'language_displayed',
 'language_preferred',
 'age_group',
 'date_subscribed',
 'date_canceled',
 'subscribing_channel',
 'is_retained']

In [16]:
#Subset new df 
#df_subset = df.iloc[:, [2,3,4,11]] # does the same as below but using index
df_subset = df.loc[:, ['marketing_channel', 'variant', 'converted', 'is_retained']]

In [17]:
print(df_subset.head())

  marketing_channel          variant converted is_retained
0         House Ads  personalization      True        True
1         House Ads  personalization      True        True
2         House Ads  personalization      True        True
3         House Ads  personalization      True        True
4         House Ads  personalization      True        True

### Correlation