#Commands
#Shift+return to run code
#Cell > markdown
#To comment code

In [4]:
#What's in my workspace?
#!ls

In [1]:
#import pandas
import pandas as pd
import numpy as np

In [2]:
#import csv file
#builds a dataframe from csv file
marketing = pd.read_csv('marketing.csv')

In [3]:
#examine the data
display(marketing.head(5))

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained
0,a100000029,1/1/18,House Ads,personalization,True,English,English,0-18 years,1/1/18,NaN,House Ads,True
1,a100000030,1/1/18,House Ads,personalization,True,English,English,19-24 years,1/1/18,NaN,House Ads,True
2,a100000031,1/1/18,House Ads,personalization,True,English,English,24-30 years,1/1/18,NaN,House Ads,True
3,a100000032,1/1/18,House Ads,personalization,True,English,English,30-36 years,1/1/18,NaN,House Ads,True
4,a100000033,1/1/18,House Ads,personalization,True,English,English,36-45 years,1/1/18,NaN,House Ads,True

In [6]:
# Check column data types and non-missing values
print(marketing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
user_id                10037 non-null object
date_served            10021 non-null object
marketing_channel      10022 non-null object
variant                10037 non-null object
converted              10022 non-null object
language_displayed     10037 non-null object
language_preferred     10037 non-null object
age_group              10037 non-null object
date_subscribed        1856 non-null object
date_canceled          577 non-null object
subscribing_channel    1856 non-null object
is_retained            1856 non-null object
dtypes: object(12)
memory usage: 941.0+ KB
None

In [7]:
#print a data type of a single column 
print(marketing['converted'].dtype)

object

In [8]:
# change the date type of a column
marketing['converted'] = marketing['converted'].astype('bool')

In [9]:
#check results
print(marketing['converted'].dtype)

bool

In [10]:
#Creating new boolean columns
marketing['is_house_ads']  = np.where(marketing['marketing_channel'] == 'House Ads', True, False
)

In [12]:
print(marketing.is_house_ads.head(3))

0    True
1    True
2    True
Name: is_house_ads, dtype: bool

In [13]:
#Broadcasting - a new column can be created on the fly
marketing['id'] = 0

#check results
marketing.head()

,user_id,date_served,marketing_channel,variant,converted,language_displayed,language_preferred,age_group,date_subscribed,date_canceled,subscribing_channel,is_retained,is_house_ads,id
0,a100000029,1/1/18,House Ads,personalization,True,English,English,0-18 years,1/1/18,NaN,House Ads,True,True,0
1,a100000030,1/1/18,House Ads,personalization,True,English,English,19-24 years,1/1/18,NaN,House Ads,True,True,0
2,a100000031,1/1/18,House Ads,personalization,True,English,English,24-30 years,1/1/18,NaN,House Ads,True,True,0
3,a100000032,1/1/18,House Ads,personalization,True,English,English,30-36 years,1/1/18,NaN,House Ads,True,True,0
4,a100000033,1/1/18,House Ads,personalization,True,English,English,36-45 years,1/1/18,NaN,House Ads,True,True,0

Adding new columns
		a. Adding new columns that derive information from existing data or based on domain knowledge is known as Feature Engineering. Even in relatively simple datasets, there are always new characteristics you could pull out to create a more in-depth analysis.
		b. One of the most critical skills a data scientist needs to learn is how to identify opportunities for feature engineering.

In [14]:
# Mapping for channels
channel_dict = {"House Ads": 1, "Instagram": 2, 
                "Facebook": 3, "Email": 4, "Push": 5}

# Map the channel to a channel code
marketing['channel_code'] = marketing['subscribing_channel'].map(channel_dict)

In [15]:
# Add the new column is_correct_lang
marketing['is_correct_lang']  = np.where(marketing['language_displayed'] == marketing['language_preferred'], 'Yes', 'No'
)

print(marketing.is_correct_lang.head(3))

0    Yes
1    Yes
2    Yes
Name: is_correct_lang, dtype: object

Date columns

Currently, the date columns in the marketing DataFrame are being incorrectly read as objects. We need to convert these columns to date columns to be able to use Python and pandas' robust date manipulation and formatting capabilities.


In this exercise, you will practice reading the CSV with proper date columns and create a day of the week columns

In [17]:
# Import marketing.csv with date columns
marketing = pd.read_csv('marketing.csv', parse_dates=['date_served', 
'date_subscribed', 'date_canceled'])

In [18]:
marketing['day_served'] = marketing['date_served'].dt.dayofweek

In [19]:
# Add a DoW column
marketing['DoW'] = marketing['date_subscribed'].dt.dayofweek

Initial exploratory analysis
		a. How many unique users see our assets each day
			i. need to use group by method
                  1) We pass "date served" as the argument to groupby()
			  2) We select the userid column outside of the groupby
                3.And use nunique method to count the number of unique users each day

In [20]:
# Group by date_served and count number of unique user_id's
daily_users = marketing.groupby(['date_served'])['user_id'].nunique()
 
# Print head of daily_users
print(daily_users.head(5))

date_served
2018-01-01    362
2018-01-02    374
2018-01-03    348
2018-01-04    323
2018-01-05    319
Name: user_id, dtype: int64

In [21]:
#Visualizing daily marketing reach

# Plot daily_subscribers
daily_users.plot()
 
# Include a title and y-axis label
plt.title('Daily users')
plt.ylabel('Number of users')
 
# Rotate the x-axis labels by 45 degrees
plt.xticks(rotation=45)
 
# Display the plot
plt.show()

NameError: name 'plt' is not defined

In [22]:
#Calculating conversion rate

# Calculate the number of people we marketed to
total = marketing['user_id'].nunique()
 
# Calculate the number of people who subscribed
subscribers = marketing[marketing['converted']== True]['user_id'].nunique()
 
# Calculate the conversion rate
conversion_rate = subscribers/total
print(round(conversion_rate*100, 2), "%")

13.89 %

In [23]:
#Calculating retention rate

# Calculate the number of subscribers
total_subscribers = marketing[marketing['converted']==True]['user_id'].nunique()

# Calculate the number of people who remained subscribed
retained = marketing[marketing['is_retained']==True]['user_id'].nunique()

# Calculate the retention rate
retention_rate = retained/total_subscribers
print(round(retention_rate*100, 2), "%")

66.8 %

In [32]:
#Customer Segmentation
# Isolate english speakers
english_speakers = marketing[marketing['language_displayed'] == 'English']

# Calculate the total number of English speaking users
total = marketing[marketing['language_displayed'] == 'English']['user_id'].nunique()

# Calculate the number of English speakers who converted
subscribers = english_speakers[english_speakers['converted']==True]['user_id'].nunique()

# Calculate conversion rate
conversion_rate = subscribers/total
print('English speaker conversion rate:', round(conversion_rate*100,2), '%')

English speaker conversion rate: 12.92 %

In [34]:
#Comparing language conversion rate (ii)
#Group by language_displayed and count unique users
total = marketing.groupby(['language_displayed'])['user_id'].nunique()

# Group by language_displayed and count unique conversions
subscribers = marketing[marketing['converted']==True].groupby(['language_displayed'])['user_id'].nunique()

# Calculate the conversion rate for all languages
language_conversion_rate = subscribers/total
print(language_conversion_rate)

language_displayed
Arabic     0.500000
English    0.129167
German     0.716216
Spanish    0.200000
Name: user_id, dtype: float64