In [12]:
#import packages
import pandas as pd
import numpy as np
import time
import webbrowser
import pickle
from datetime import date
import os

In [1]:
rotation_period = {
    'earth': 1.0,
    'jupiter': 0.415,
    'saturn': 44}

print(rotation_period)

{'earth': 1.0, 'jupiter': 0.415, 'saturn': 44}

In [7]:
rotation_period['saturn']  = 0.445
print(rotation_period)

{'earth': 1.0, 'jupiter': 0.415, 'saturn': 0.445}

In [8]:
True and False

False

In [9]:
True and True

True

In [10]:
False and False

False

In [16]:
not True

False

In [14]:
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9],
    'D': ["beginner", "intermediate", "advanced"]})

print(df)

   A  B  C             D
0  1  4  7      beginner
1  2  5  8  intermediate
2  3  6  9      advanced

In [15]:
is_less = df['A'] < 3
df[is_less]

   A  B  C             D
0  1  4  7      beginner
1  2  5  8  intermediate

In [19]:
import numpy as np
x = np.array([0, 4, 4])
for j in x:
    print(str(j) + ' km')

0 km
4 km
4 km