In [1]:
import pandas as pd

## Converting lists

In [2]:
# Create a list of dictionaries with new data
avocados_list = [
    {"date": "2019-11-03", "small_sold": 10376832, "large_sold": 7835071},
    {"date": "2019-11-10", "small_sold": 10717154, "large_sold": 8561348},
]

In [5]:
print(avocados_list)

[{'date': '2019-11-03', 'small_sold': 10376832, 'large_sold': 7835071}, {'date': '2019-11-10', 'small_sold': 10717154, 'large_sold': 8561348}]

In [3]:
# Convert list into DataFrame
avocados_2019 = pd.DataFrame(avocados_list)

In [4]:
# Print the new DataFrame
print(avocados_2019)

         date  small_sold  large_sold
0  2019-11-03    10376832     7835071
1  2019-11-10    10717154     8561348

## Converting lists of lists

In [22]:
products_list = [['laptop',1300],['printer',150],['tablet',300],['desk',450],['chair',200]]

In [23]:
print(products_list)

[['laptop', 1300], ['printer', 150], ['tablet', 300], ['desk', 450], ['chair', 200]]

In [24]:
products_df = pd.DataFrame (products_list, columns = ['product_name', 'price'])
print(products_df)

  product_name  price
0       laptop   1300
1      printer    150
2       tablet    300
3         desk    450
4        chair    200

## Converting Dictionaries

In [7]:
# Create a dictionary of lists with new data
avocados_dict = {
  "date": ["2019-11-17", "2019-12-01"],
  "small_sold": [10859987, 9291631],
  "large_sold": [7674135, 6238096]
}

In [8]:
print(avocados_dict)

{'date': ['2019-11-17', '2019-12-01'], 'small_sold': [10859987, 9291631], 'large_sold': [7674135, 6238096]}

In [13]:
# Convert dictionary into DataFrame
avocados_2019 = pd.DataFrame(avocados_dict)

In [14]:
# Print the new DataFrame
print(avocados_2019)

         date  small_sold  large_sold
0  2019-11-17    10859987     7674135
1  2019-12-01     9291631     6238096

In [16]:
# Read CSV as DataFrame 
avocados = pd.read_csv("datasets/avocado.csv")

In [17]:
# Take a look at the DataFrame
print(avocados.head())

   Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0           0  2015-12-27          1.33      64236.62  1036.74   54454.85
1           1  2015-12-20          1.35      54876.98   674.28   44638.81
2           2  2015-12-13          0.93     118220.22   794.70  109149.67
3           3  2015-12-06          1.08      78992.15  1132.00   71976.41
4           4  2015-11-29          1.28      51039.60   941.48   43838.39

     4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0   48.16     8696.87     8603.62       93.25          0.0  conventional
1   58.33     9505.56     9408.07       97.49          0.0  conventional
2  130.50     8145.35     8042.21      103.14          0.0  conventional
3   72.58     5811.16     5677.40      133.76          0.0  conventional
4   75.78     6183.95     5986.26      197.69          0.0  conventional

   year  region
0  2015  Albany
1  2015  Albany
2  2015  Albany
3  2015  Albany
4  2015  Albany

In [18]:
#For each year, select total volume and total bags and sum
type_totals = avocados.groupby("year")[["Total Volume", "Total Bags"]].sum()
print(type_totals)

      Total Volume    Total Bags
year
2015  4.385469e+09  7.721922e+08
2016  4.820890e+09  1.463159e+09
2017  4.934306e+09  1.646289e+09
2018  1.382738e+09  4.915359e+08

# Convert key value pairs to DataFrame

In [ ]:

record1 = pd.Series({'i':'00','j':'01','k':'02','l':'03'})
record2 = pd.Series({'i':'10','j':'11','k':'12','l':'13'})
record3 = pd.Series({'i':'20','j':'21','k':'22','l':'23'})
record4 = pd.Series({'i':'30','j':'31','k':'32','l':'33'})
 
# Creating dataframe
df = pd.DataFrame([record1,record2,record3,record4],index = ['0','1','2','3'])
print(df)

## Convert pandas DataFrame to CSV file

In [19]:
# Create airline_totals_sorted
avocados_2019_sorted = avocados_2019.sort_values("date", ascending = False)

In [20]:
print(avocados_2019_sorted)

         date  small_sold  large_sold
1  2019-12-01     9291631     6238096
0  2019-11-17    10859987     7674135

In [25]:
# Save as .csv file
avocados_2019_sorted.to_csv("datasets/avocados_2019_sorted.csv")

## Tuples

Tuples are made of several items just like a list, but they cannot be modified in any way. It is very common for tuples to be used to represent data from a database.