# Import Packages

In [31]:
#Import pandas and numpy
import pandas as pd
import numpy as np
from numpy import random

# From matplotlib, import pyplot under the alias plt
from matplotlib import pyplot as plt

#Import Seaborn
import seaborn as sns

import glob
import os

In [32]:
path = '/Users/anitaowens/Documents/Github/Data-with-Python/datasets'

In [8]:
for name in glob.glob('*'):
    print(name)

Data Manipulation with pandas.ipynb
Converting data objects to pandas DataFrame.ipynb
Load csv file to pandas dataframe.ipynb
Pandas cheat sheet.ipynb
Counting words.ipynb
Runtime - Timing your code.ipynb
Python the hard way - list comprehension.ipynb
Dates and Times - now() function.ipynb
Reading CSV files in current working directory.ipynb
Writing Efficient Code with pandas.ipynb
Plydata library - Tidyverse in Python.ipynb
Working with Dates and Times in Python.ipynb
datasets
Lists.ipynb
Plotly.ipynb
Loops.ipynb
Data Visualization in Python.ipynb
Numpy Arrays.ipynb
Unpacking data objects.ipynb
Dictionaries.ipynb
If statements.ipynb
hello-world.py
Booleans.ipynb
hello-world.ipynb
Built-in Functions.ipynb
Import Online Datasets.ipynb
Holidays in Python.ipynb
Read txt file with reader.ipynb
Data Analysis with pandas.ipynb
Reading email addresses from txt file.ipynb

In [23]:
for name in glob.glob('*.py'):
    print(name)

hello-world.py

In [40]:
for name in glob.glob('datasets/*'):
    print(name)

datasets/laptops.csv
datasets/florida_hurricane_dates.pkl
datasets/tips.csv
datasets/marketing.csv
datasets/NYC_Flights_2013
datasets/avocado.csv
datasets/romeo.txt

In [42]:
for name in glob.glob('datasets/NYC_Flights_2013/*'):
    print(name)

datasets/NYC_Flights_2013/airlines.csv
datasets/NYC_Flights_2013/weather.csv
datasets/NYC_Flights_2013/airports.csv
datasets/NYC_Flights_2013/planes.csv
datasets/NYC_Flights_2013/flights.zip

In [43]:
# Get a list of all the csv files
csv_files = glob.glob('datasets/NYC_Flights_2013/*.csv')

# List comprehension that loads of all the files
dfs = [pd.read_csv(file) for file in csv_files]

# List comprehension that looks at the shape of all DataFrames
print([file.shape for file in dfs])

[(16, 2), (26130, 15), (1458, 8), (3322, 9)]

In [44]:
# Get the planes DataFrame
planes = dfs[3]

# Count the frequency of engines in our data
print(planes['engines'].value_counts())

2    3288
1      27
4       4
3       3
Name: engines, dtype: int64

In [45]:
# Look at all planes with >= 3 engines
print(planes[planes['engines'] >= 3])

     tailnum    year                     type            manufacturer  \
603   N281AT     NaN  Fixed wing multi engine        AIRBUS INDUSTRIE
1037  N381AA  1956.0  Fixed wing multi engine                 DOUGLAS
2109  N670US  1990.0  Fixed wing multi engine                  BOEING
2706  N840MQ  1974.0  Fixed wing multi engine            CANADAIR LTD
2764  N854NW  2004.0  Fixed wing multi engine                  AIRBUS
2771  N856NW  2004.0  Fixed wing multi engine                  AIRBUS
2931  N905FJ  1986.0  Fixed wing multi engine  AVIONS MARCEL DASSAULT

                   model  engines  seats  speed         engine
603             A340-313        4    375    NaN      Turbo-jet
1037              DC-7BF        4    102  232.0  Reciprocating
2109             747-451        4    450    NaN      Turbo-jet
2706               CF-5D        4      2    NaN      Turbo-jet
2764            A330-223        3    379    NaN      Turbo-fan
2771            A330-223        3    379    NaN      Turbo-fan
2931  MYSTERE FALCON 900        3     12    NaN      Turbo-fan

In [46]:
# Look at all planes with >= 3 engines and <= 100 seats
print(planes.loc[(planes['engines'] >= 3) & (planes['seats'] <= 100)])

     tailnum    year                     type            manufacturer  \
2706  N840MQ  1974.0  Fixed wing multi engine            CANADAIR LTD
2931  N905FJ  1986.0  Fixed wing multi engine  AVIONS MARCEL DASSAULT

                   model  engines  seats  speed     engine
2706               CF-5D        4      2    NaN  Turbo-jet
2931  MYSTERE FALCON 900        3     12    NaN  Turbo-fan