In [1]:
import pandas as pd

# Lists

In [4]:
#o-based index
x = ["Apr", "May", "Mar", "Jan", "Feb"]
print(x)

['Apr', 'May', 'Mar', 'Jan', 'Feb']

In [5]:
print(x.index("Feb"))

4

In [ ]:
print(x.index("Feb"))

In [6]:
#Concatenate lists
x=["Winter", "Spring"]
y=["Summer", "Fall"]
print(x+y)

['Winter', 'Spring', 'Summer', 'Fall']

In [81]:
#days of the week program
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday', 'Sunday']

In [153]:
#Prints the list
for day in week:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

## Merging lists

In [154]:
#Create 2 lists
list1 = (1,2,56,88,3,12,19)
list2 = (1,2,3)

In [19]:
print(list1)

(1, 2, 56, 88, 3, 12, 19)

In [20]:
print(list2)

(1, 2, 3)

In [160]:
#Write a function to merge sorted list
def merge_lists(a_list, b_list):
    a_sorted = sorted(a_list)
    b_sorted = sorted(b_list)
    print(a_sorted + b_sorted)

In [163]:
#Does not remove duplicates
merge_lists(list1, list2)

[1, 2, 3, 12, 19, 56, 88, 1, 2, 3]

# Tuples

In [86]:
week_tuple = {
  "day_of_week": ['Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday', 'Sunday'],
  "num_of_week": [1,2,3,4,5,6,7]
}

In [87]:
#Prints the key
for day in week_tuple:
    print(day)

day_of_week
num_of_week

In [88]:
#Prints the key and value
for day, num in week_tuple.items():
    print(day)
    print(num)

day_of_week
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
num_of_week
[1, 2, 3, 4, 5, 6, 7]

In [103]:
#Looping through (key and value) using .items() method
print("Looping through tuple.items()")
for key, value in week_tuple.items():
  print(key)
  print(value)

Looping through dic.items()
day_of_week
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
num_of_week
[1, 2, 3, 4, 5, 6, 7]

In [98]:
#Tuple objects
for key in week_tuple.items():
  print(key)
  print(type(key))

('day_of_week', ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
<class 'tuple'>
('num_of_week', [1, 2, 3, 4, 5, 6, 7])
<class 'tuple'>

In [90]:
#Prints just the value
for value in week_tuple.values():
    print(value)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
[1, 2, 3, 4, 5, 6, 7]

In [99]:
#Prints key and values in both tuples
for key, value in week_tuple.items():
    print(key, '->', value)

day_of_week -> ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
num_of_week -> [1, 2, 3, 4, 5, 6, 7]

# Updating dictionaries

In [91]:
#Updating a dictionary
dict = {"Python":100,"Java":150}
print("Dictionary before updation:",dict)
dict.update(C = 35,Fortran = 40)
print("Dictionary after updation:",dict)

Dictionary before updation: {'Python': 100, 'Java': 150}
Dictionary after updation: {'Python': 100, 'Java': 150, 'C': 35, 'Fortran': 40}

In [104]:
#Find a specific key
'Python' in dict.keys()

True

In [105]:
#Find a specific value
100 in dict.values()

True

## Money dictionary

In [137]:
#Print key and values
money = {'penny': .01, 'nickel': .05, 'dime': .10, 'quarter': .25}

print(money)

{'penny': 0.01, 'nickel': 0.05, 'dime': 0.1, 'quarter': 0.25}

In [139]:
print(money.items())

dict_items([('penny', 0.01), ('nickel', 0.05), ('dime', 0.1), ('quarter', 0.25)])

In [138]:
print(money.keys())

dict_keys(['penny', 'nickel', 'dime', 'quarter'])

In [125]:
print(money.values())

dict_values([0.01, 0.05, 0.1, 0.25])

In [127]:
print(money['penny'])

0.01

In [128]:
print(money['quarter'])

0.25

In [122]:
for k, v in money.items():
    print(k, v)

penny 0.01
nickel 0.05
dime 0.1
quarter 0.25

In [147]:
#Sum up dictionary values
total_value = sum([value for value in money.values()])

print(total_value)

0.41000000000000003

In [149]:
#Alternative to sum via list comprehension
sum(money.values())

0.41000000000000003

In [151]:
#Sorted by keys
for k in sorted(money):
    print(k, ':', money[k])

dime : 0.1
nickel : 0.05
penny : 0.01
quarter : 0.25

In [152]:
#Sorted by values
for value in sorted(money.values()):
    print(value)

0.01
0.05
0.1
0.25

## How to modify dictionary values

In [111]:
for k, v in money.items():
    money[k] = round(v)
    
print(money)

{'penny': 0, 'nickel': 0, 'dime': 0, 'quarter': 0}

In [143]:
#Turning keys into values
save_keys = {}
for k, v in money.items():
    save_keys[v] = k
    
print(save_keys)

{0.01: 'penny', 0.05: 'nickel', 0.1: 'dime', 0.25: 'quarter'}

In [144]:
#Turning values into keys
save_values = {}
for k, v in money.items():
    save_values[k] = v
    
print(save_values)

{'penny': 0.01, 'nickel': 0.05, 'dime': 0.1, 'quarter': 0.25}

### Nested dictionaries

In [23]:
students = {
    'Student 1': {'Name': 'Jane', 'Id': 1, "Age": 24},
    'Student 2': {'Name': 'Meredith', 'Id': 2, "Age": 21},
    'Student 3': {'Name': 'Jack', 'Id': 3, "Age": 22},
}

In [25]:
print(students.keys())

dict_keys(['Student 1', 'Student 2', 'Student 3'])

In [26]:
print(students.values())

dict_values([{'Name': 'Jane', 'Id': 1, 'Age': 24}, {'Name': 'Meredith', 'Id': 2, 'Age': 21}, {'Name': 'Jack', 'Id': 3, 'Age': 22}])

In [145]:
#Loops through entire dictionaries in a dictionary
for key, value in students.items():
  print(key)
  print(value)

Student 1
{'Name': 'Jane', 'Id': 1, 'Age': 24}
Student 2
{'Name': 'Meredith', 'Id': 2, 'Age': 21}
Student 3
{'Name': 'Jack', 'Id': 3, 'Age': 22}

In [33]:
# split dictionary into keys and values
keys = []
values = []
items = students.items()
for item in items:
    keys.append(item[0]), values.append(item[1])
 
# printing keys and values separately
print("keys : ", str(keys))
print("values : ", str(values))

keys :  ['Student 1', 'Student 2', 'Student 3']
values :  [{'Name': 'Jane', 'Id': 1, 'Age': 24}, {'Name': 'Meredith', 'Id': 2, 'Age': 21}, {'Name': 'Jack', 'Id': 3, 'Age': 22}]

In [37]:
#Unpack ditionary
name = []
id = []
age = []

for value in students.items():
    name.append(value[0])

In [44]:
print(name)

['Student 1', 'Student 2', 'Student 3']

In [24]:
#Looping through a nested dictionary to grab all values for Student1
print("Looping through a nested dictionary")
for key, value in students['Student 1'].items():
  print(key)
  print(value)

Looping through a nested dictionary
Name
Jane
Id
1
Age
24

In [92]:
#Find a key in dictionary
if 'Student 1' in students:
  print('found student 1')

found student 1

In [94]:
#Print values for a specific key
if 'Student 1' in students:
  print(students['Student 1'])

{'Name': 'Jane', 'Id': 1, 'Age': 24}

In [95]:
#Print values for a specific key
if 'Student 2' in students:
  print(students['Student 2'])

{'Name': 'Meredith', 'Id': 2, 'Age': 21}

In [97]:
#Print all values for multiple keys
print(students['Student 1'], students['Student 2'])

{'Name': 'Jane', 'Id': 1, 'Age': 24} {'Name': 'Meredith', 'Id': 2, 'Age': 21}

In [41]:
record1 = pd.Series({'i':'00','j':'01','k':'02','l':'03'})
record2 = pd.Series({'i':'10','j':'11','k':'12','l':'13'})
record3 = pd.Series({'i':'20','j':'21','k':'22','l':'23'})
record4 = pd.Series({'i':'30','j':'31','k':'32','l':'33'})

In [ ]:
# Creating dataframe
df = pd.DataFrame([record1,record2,record3,record4],index = ['0','1','2','3'])
print(df)

## Dictionaries of unknown structures

In [54]:
#Read data file into object called df
#I'm reading this file directly from the web
daily_summary = pd.read_csv("https://assets.datacamp.com/production/repositories/906/datasets/0c8af86b914fd9edfd3d907b6006fefaadaf827b/cta_daily_summary_totals.csv")

print(daily_summary.head(5))

  service_date day_type     bus  rail_boardings  total_rides
0   01/01/2001        U  297192          126455       423647
1   01/02/2001        W  780827          501952      1282779
2   01/03/2001        W  824923          536432      1361355
3   01/04/2001        W  870021          550011      1420032
4   01/05/2001        W  890426          557917      1448343

In [49]:
entries = [('11/17/2016', 'Dempster-Skokie', '2048'),
 ('02/19/2016', 'Adams/Wabash', '8447'),
 ('03/25/2015', 'State/Lake', '10325'),
 ('05/02/2015', 'Ashland-Lake', '1424'),
 ('07/11/2015', 'Chicago/Franklin', '2883'),
 ('06/04/2015', "Addison-O'Hare", '3223'),
 ('02/11/2016', 'Paulina', '2733'),
 ('10/08/2016', 'Indiana', '568'),
 ('08/31/2016', 'Granville', '4124'),
 ('11/29/2016', 'Pulaski-Orange', '5781')]
print(entries)

[('11/17/2016', 'Dempster-Skokie', '2048'), ('02/19/2016', 'Adams/Wabash', '8447'), ('03/25/2015', 'State/Lake', '10325'), ('05/02/2015', 'Ashland-Lake', '1424'), ('07/11/2015', 'Chicago/Franklin', '2883'), ('06/04/2015', "Addison-O'Hare", '3223'), ('02/11/2016', 'Paulina', '2733'), ('10/08/2016', 'Indiana', '568'), ('08/31/2016', 'Granville', '4124'), ('11/29/2016', 'Pulaski-Orange', '5781')]

In [51]:
# Create an empty dictionary: ridership
ridership = {}

# Iterate over the entries
for date, stop, riders in entries:
    # Check to see if date is already in the ridership dictionary
    if date not in ridership:
        # Create an empty list for any missing date
        ridership[date] = []
    # Append the stop and riders as a tuple to the date keys list
    ridership[date].append((stop, riders))
    
# Print the ridership for ''\11/29/2016'
print(ridership['11/29/2016'])

[('Pulaski-Orange', '5781')]

In [75]:
#Convert dataframe columns to lists
date = daily_summary['service_date'].tolist()
riders = daily_summary['total_rides'].tolist()

#Combine lists
entries = zip(date, riders)

type(entries)

zip

# Working with OrderedDicts

In [59]:
#Let's create a dictionary of all the stop times by route and rider, then use it to find the ridership throughout the day.

# Import OrderedDict from collections
from collections import OrderedDict
# Create an OrderedDict called: ridership_date
ridership_date = OrderedDict()
# Iterate over the entries
for date, riders in entries:
    # If a key does not exist in ridership_date, set it to 0
    if date not in ridership_date:
        ridership_date[date] = 0
        
    # Add riders to the date key in ridership_date
    ridership_date[date] += riders

# Print the first 31 records
print(list(ridership_date.items())[:31])

[('01/01/2001', 423647), ('01/02/2001', 1282779), ('01/03/2001', 1361355), ('01/04/2001', 1420032), ('01/05/2001', 1448343), ('01/06/2001', 832757), ('01/07/2001', 545656), ('01/08/2001', 1575927), ('01/09/2001', 1578282), ('01/10/2001', 1586936), ('01/11/2001', 1603064), ('01/12/2001', 1624237), ('01/13/2001', 861847), ('01/14/2001', 547933), ('01/15/2001', 1087994), ('01/16/2001', 1646530), ('01/17/2001', 1639033), ('01/18/2001', 1625828), ('01/19/2001', 1493815), ('01/20/2001', 846163), ('01/21/2001', 550488), ('01/22/2001', 1604713), ('01/23/2001', 1630335), ('01/24/2001', 1598496), ('01/25/2001', 1614134), ('01/26/2001', 1562363), ('01/27/2001', 858914), ('01/28/2001', 543253), ('01/29/2001', 1540584), ('01/30/2001', 1589904), ('01/31/2001', 1609900)]

Creating namedtuples for storing data

In [72]:
entries = [('12/25/2015', 'Randolph/Wabash', '1954'),
 ('08/02/2016', 'Western/Milwaukee', '5248'),
 ('08/04/2016', 'Ashland-Orange', '1568'),
 ('03/13/2016', 'Oak Park-Forest Park', '422'),
 ('08/13/2016', 'Pulaski-Forest Park', '1452'),
 ('05/30/2015', 'Rosemont', '4770'),
 ('06/22/2016', 'Harlem-Lake', '3749'),
 ('01/02/2016', 'Randolph/Wabash', '4724'),
 ('12/28/2015', 'Montrose-Brown', '1699'),
 ('05/16/2015', 'Main', '906'),
 ('03/29/2016', 'Pulaski-Lake', '1597'),
 ('11/15/2015', 'East 63rd-Cottage Grove', '661'),
 ('11/08/2015', "Belmont-O'Hare", '2674'),
 ('06/19/2015', 'Armitage', '4528'),
 ('08/31/2016', 'Foster', '803'),
 ('11/23/2015', 'Pulaski-Cermak', '1298'),
 ('04/13/2015', 'Garfield-Dan Ryan', '3788'),
 ('07/19/2015', 'Central-Lake', '1371'),
 ('07/14/2015', 'King Drive', '687'),
 ('04/12/2015', '63rd-Dan Ryan', '1767'),
 ('01/18/2016', 'Damen-Brown', '1558'),
 ('08/20/2015', '79th', '7645'),
 ('05/29/2016', 'Library', '1680'),
 ('08/16/2015', 'Kedzie-Brown', '1203'),
 ('08/02/2015', 'Oak Park-Lake', '1044'),
 ('06/03/2015', 'Pulaski-Forest Park', '2074')]

from collections import namedtuple

# Create the namedtuple: DateDetails
DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the entries list
for date, stop, riders in entries:
    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(DateDetails(date, stop, riders))
    
# Print the first 5 items in labeled_entries
print(labeled_entries[:5])

[DateDetails(date='12/25/2015', stop='Randolph/Wabash', riders='1954'), DateDetails(date='08/02/2016', stop='Western/Milwaukee', riders='5248'), DateDetails(date='08/04/2016', stop='Ashland-Orange', riders='1568'), DateDetails(date='03/13/2016', stop='Oak Park-Forest Park', riders='422'), DateDetails(date='08/13/2016', stop='Pulaski-Forest Park', riders='1452')]

In [73]:
print(labeled_entries)

[DateDetails(date='12/25/2015', stop='Randolph/Wabash', riders='1954'), DateDetails(date='08/02/2016', stop='Western/Milwaukee', riders='5248'), DateDetails(date='08/04/2016', stop='Ashland-Orange', riders='1568'), DateDetails(date='03/13/2016', stop='Oak Park-Forest Park', riders='422'), DateDetails(date='08/13/2016', stop='Pulaski-Forest Park', riders='1452'), DateDetails(date='05/30/2015', stop='Rosemont', riders='4770'), DateDetails(date='06/22/2016', stop='Harlem-Lake', riders='3749'), DateDetails(date='01/02/2016', stop='Randolph/Wabash', riders='4724'), DateDetails(date='12/28/2015', stop='Montrose-Brown', riders='1699'), DateDetails(date='05/16/2015', stop='Main', riders='906'), DateDetails(date='03/29/2016', stop='Pulaski-Lake', riders='1597'), DateDetails(date='11/15/2015', stop='East 63rd-Cottage Grove', riders='661'), DateDetails(date='11/08/2015', stop="Belmont-O'Hare", riders='2674'), DateDetails(date='06/19/2015', stop='Armitage', riders='4528'), DateDetails(date='08/31/2016', stop='Foster', riders='803'), DateDetails(date='11/23/2015', stop='Pulaski-Cermak', riders='1298'), DateDetails(date='04/13/2015', stop='Garfield-Dan Ryan', riders='3788'), DateDetails(date='07/19/2015', stop='Central-Lake', riders='1371'), DateDetails(date='07/14/2015', stop='King Drive', riders='687'), DateDetails(date='04/12/2015', stop='63rd-Dan Ryan', riders='1767'), DateDetails(date='01/18/2016', stop='Damen-Brown', riders='1558'), DateDetails(date='08/20/2015', stop='79th', riders='7645'), DateDetails(date='05/29/2016', stop='Library', riders='1680'), DateDetails(date='08/16/2015', stop='Kedzie-Brown', riders='1203'), DateDetails(date='08/02/2015', stop='Oak Park-Lake', riders='1044'), DateDetails(date='06/03/2015', stop='Pulaski-Forest Park', riders='2074')]

# Unpacking Operator

Dictionary unpacking operator (**)

# DataFrames

In [3]:
# Import datasets 
tweets = pd.read_csv("https://assets.datacamp.com/production/repositories/463/datasets/82e9842c09ad135584521e293091c2327251121d/tweets.csv")

In [4]:
tweets.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [5]:
tweets['entities'][0]

"{'hashtags': [], 'user_mentions': [{'screen_name': 'bpolitics', 'name': 'Bloomberg Politics', 'id': 564111558, 'id_str': '564111558', 'indices': [3, 13]}, {'screen_name': 'krollbondrating', 'name': 'Kroll Bond Ratings', 'id': 1963523857, 'id_str': '1963523857', 'indices': [16, 32]}], 'symbols': [], 'media': [{'sizes': {'large': {'w': 1024, 'h': 691, 'resize': 'fit'}, 'medium': {'w': 600, 'h': 405, 'resize': 'fit'}, 'small': {'w': 340, 'h': 229, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}}, 'expanded_url': 'http://twitter.com/bpolitics/status/714950482930896897/photo/1', 'url': 'https://t.co/lJcw0N8EZf', 'media_url_https': 'https://pbs.twimg.com/media/CewDrPtWAAMerOm.jpg', 'source_user_id': 564111558, 'media_url': 'http://pbs.twimg.com/media/CewDrPtWAAMerOm.jpg', 'type': 'photo', 'indices': [139, 140], 'source_status_id': 714950482930896897, 'id_str': '714950482331041795', 'source_user_id_str': '564111558', 'id': 714950482331041795, 'display_url': 'pic.twitter.com/lJcw0N8EZf', 'source_status_id_str': '714950482930896897'}], 'urls': [{'expanded_url': 'http://bloom.bg/1RETAha', 'url': 'https://t.co/pLk7rvoRSn', 'display_url': 'bloom.bg/1RETAha', 'indices': [108, 131]}]}"