# Lists

In [4]:
#o-based index
x = ["Apr", "May", "Mar", "Jan", "Feb"]
print(x)

['Apr', 'May', 'Mar', 'Jan', 'Feb']

In [5]:
print(x.index("Feb"))

4

In [ ]:
print(x.index("Feb"))

In [6]:
x=["Winter", "Spring"]
y=["Summer", "Fall"]
print(x+y)

['Winter', 'Spring', 'Summer', 'Fall']

### Merging lists

In [18]:
list1 = (1,2,56,88,3,12,19)
list2 = (1,2,3)

In [19]:
print(list1)

(1, 2, 56, 88, 3, 12, 19)

In [20]:
print(list2)

(1, 2, 3)

In [21]:
def merge_lists(a_list, b_list):
  sorted(a_list)
  sorted(b_list)
  print(a_list + b_list)

In [22]:
merge_lists(list1, list2)

(1, 2, 56, 88, 3, 12, 19, 1, 2, 3)

# Dictionaries

In [7]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

{'color': 'green', 'points': 5}

In [8]:
#Prints the key
for alien in alien_0:
    print(alien)

color
points

In [13]:
#Prints the key and value
for alien, value in alien_0.items():
    print(alien)
    print(value)

color
green
points
5

In [9]:
#Looping through a dictionary (key and value)
print("Looping through dic.items()")
for key, value in alien_0.items():
  print(key)
  print(value)

Looping through dic.items()
color
green
points
5

In [16]:
#Prints just the value
for alien in alien_0.values():
    print(alien)

green
5

In [ ]:
#Updating a dictionary
dict = {"Python":100,"Java":150}
print("Dictionary before updation:",dict)
dict.update(C = 35,Fortran = 40)
print("Dictionary after updation:",dict)

### Nested dictionary

In [23]:
students = {
    'Student 1': {'Name': 'Jane', 'Id': 1, "Age": 24},
    'Student 2': {'Name': 'Meredith', 'Id': 2, "Age": 21},
    'Student 3': {'Name': 'Jack', 'Id': 3, "Age": 22},
}

In [25]:
print(students.keys())

dict_keys(['Student 1', 'Student 2', 'Student 3'])

In [26]:
print(students.values())

dict_values([{'Name': 'Jane', 'Id': 1, 'Age': 24}, {'Name': 'Meredith', 'Id': 2, 'Age': 21}, {'Name': 'Jack', 'Id': 3, 'Age': 22}])

In [29]:
#Loops through entire dictionaries in dictionary
for key, value in students.items():
  print(key)
  print(value)

Student 1
{'Name': 'Jane', 'Id': 1, 'Age': 24}
Student 2
{'Name': 'Meredith', 'Id': 2, 'Age': 21}
Student 3
{'Name': 'Jack', 'Id': 3, 'Age': 22}

In [33]:
# split dictionary into keys and values
keys = []
values = []
items = students.items()
for item in items:
    keys.append(item[0]), values.append(item[1])
 
# printing keys and values separately
print("keys : ", str(keys))
print("values : ", str(values))

keys :  ['Student 1', 'Student 2', 'Student 3']
values :  [{'Name': 'Jane', 'Id': 1, 'Age': 24}, {'Name': 'Meredith', 'Id': 2, 'Age': 21}, {'Name': 'Jack', 'Id': 3, 'Age': 22}]

In [37]:
#Unpack ditionary
name = []
id = []
age = []

for value in students.items():
    name.append(value[0])

In [44]:
print(name)

['Student 1', 'Student 2', 'Student 3']

In [24]:
#Looping through a nested dictionary to grab all values for Student1
print("Looping through a nested dictionary")
for key, value in students['Student 1'].items():
  print(key)
  print(value)

Looping through a nested dictionary
Name
Jane
Id
1
Age
24

In [28]:
#Find a key in dictionary
if 'Student 1' in students:
  print('found student 1')

found student 1

In [41]:
import pandas as pd
 
record1 = pd.Series({'i':'00','j':'01','k':'02','l':'03'})
record2 = pd.Series({'i':'10','j':'11','k':'12','l':'13'})
record3 = pd.Series({'i':'20','j':'21','k':'22','l':'23'})
record4 = pd.Series({'i':'30','j':'31','k':'32','l':'33'})

In [ ]:
# Creating dataframe
df = pd.DataFrame([record1,record2,record3,record4],index = ['0','1','2','3'])
print(df)

## Dictionaries of unknown structures

In [54]:
#Read data file into object called df
#I'm reading this file directly from the web
daily_summary = pd.read_csv("https://assets.datacamp.com/production/repositories/906/datasets/0c8af86b914fd9edfd3d907b6006fefaadaf827b/cta_daily_summary_totals.csv")

print(daily_summary.head(5))

  service_date day_type     bus  rail_boardings  total_rides
0   01/01/2001        U  297192          126455       423647
1   01/02/2001        W  780827          501952      1282779
2   01/03/2001        W  824923          536432      1361355
3   01/04/2001        W  870021          550011      1420032
4   01/05/2001        W  890426          557917      1448343

In [49]:
entries = [('11/17/2016', 'Dempster-Skokie', '2048'),
 ('02/19/2016', 'Adams/Wabash', '8447'),
 ('03/25/2015', 'State/Lake', '10325'),
 ('05/02/2015', 'Ashland-Lake', '1424'),
 ('07/11/2015', 'Chicago/Franklin', '2883'),
 ('06/04/2015', "Addison-O'Hare", '3223'),
 ('02/11/2016', 'Paulina', '2733'),
 ('10/08/2016', 'Indiana', '568'),
 ('08/31/2016', 'Granville', '4124'),
 ('11/29/2016', 'Pulaski-Orange', '5781')]
print(entries)

[('11/17/2016', 'Dempster-Skokie', '2048'), ('02/19/2016', 'Adams/Wabash', '8447'), ('03/25/2015', 'State/Lake', '10325'), ('05/02/2015', 'Ashland-Lake', '1424'), ('07/11/2015', 'Chicago/Franklin', '2883'), ('06/04/2015', "Addison-O'Hare", '3223'), ('02/11/2016', 'Paulina', '2733'), ('10/08/2016', 'Indiana', '568'), ('08/31/2016', 'Granville', '4124'), ('11/29/2016', 'Pulaski-Orange', '5781')]

In [51]:
# Create an empty dictionary: ridership
ridership = {}

# Iterate over the entries
for date, stop, riders in entries:
    # Check to see if date is already in the ridership dictionary
    if date not in ridership:
        # Create an empty list for any missing date
        ridership[date] = []
    # Append the stop and riders as a tuple to the date keys list
    ridership[date].append((stop, riders))
    
# Print the ridership for ''\11/29/2016'
print(ridership['11/29/2016'])

[('Pulaski-Orange', '5781')]

In [58]:
date = daily_summary['service_date'].tolist()
riders = daily_summary['total_rides'].tolist()
entries = zip(date, riders)

type(entries)

zip

Working with OrderedDicts

In [59]:
#Let's create a dictionary of all the stop times by route and rider, then use it to find the ridership throughout the day.

# Import OrderedDict from collections
from collections import OrderedDict
# Create an OrderedDict called: ridership_date
ridership_date = OrderedDict()
# Iterate over the entries
for date, riders in entries:
    # If a key does not exist in ridership_date, set it to 0
    if date not in ridership_date:
        ridership_date[date] = 0
        
    # Add riders to the date key in ridership_date
    ridership_date[date] += riders

# Print the first 31 records
print(list(ridership_date.items())[:31])

[('01/01/2001', 423647), ('01/02/2001', 1282779), ('01/03/2001', 1361355), ('01/04/2001', 1420032), ('01/05/2001', 1448343), ('01/06/2001', 832757), ('01/07/2001', 545656), ('01/08/2001', 1575927), ('01/09/2001', 1578282), ('01/10/2001', 1586936), ('01/11/2001', 1603064), ('01/12/2001', 1624237), ('01/13/2001', 861847), ('01/14/2001', 547933), ('01/15/2001', 1087994), ('01/16/2001', 1646530), ('01/17/2001', 1639033), ('01/18/2001', 1625828), ('01/19/2001', 1493815), ('01/20/2001', 846163), ('01/21/2001', 550488), ('01/22/2001', 1604713), ('01/23/2001', 1630335), ('01/24/2001', 1598496), ('01/25/2001', 1614134), ('01/26/2001', 1562363), ('01/27/2001', 858914), ('01/28/2001', 543253), ('01/29/2001', 1540584), ('01/30/2001', 1589904), ('01/31/2001', 1609900)]

Creating namedtuples for storing data

In [72]:
entries = [('12/25/2015', 'Randolph/Wabash', '1954'),
 ('08/02/2016', 'Western/Milwaukee', '5248'),
 ('08/04/2016', 'Ashland-Orange', '1568'),
 ('03/13/2016', 'Oak Park-Forest Park', '422'),
 ('08/13/2016', 'Pulaski-Forest Park', '1452'),
 ('05/30/2015', 'Rosemont', '4770'),
 ('06/22/2016', 'Harlem-Lake', '3749'),
 ('01/02/2016', 'Randolph/Wabash', '4724'),
 ('12/28/2015', 'Montrose-Brown', '1699'),
 ('05/16/2015', 'Main', '906'),
 ('03/29/2016', 'Pulaski-Lake', '1597'),
 ('11/15/2015', 'East 63rd-Cottage Grove', '661'),
 ('11/08/2015', "Belmont-O'Hare", '2674'),
 ('06/19/2015', 'Armitage', '4528'),
 ('08/31/2016', 'Foster', '803'),
 ('11/23/2015', 'Pulaski-Cermak', '1298'),
 ('04/13/2015', 'Garfield-Dan Ryan', '3788'),
 ('07/19/2015', 'Central-Lake', '1371'),
 ('07/14/2015', 'King Drive', '687'),
 ('04/12/2015', '63rd-Dan Ryan', '1767'),
 ('01/18/2016', 'Damen-Brown', '1558'),
 ('08/20/2015', '79th', '7645'),
 ('05/29/2016', 'Library', '1680'),
 ('08/16/2015', 'Kedzie-Brown', '1203'),
 ('08/02/2015', 'Oak Park-Lake', '1044'),
 ('06/03/2015', 'Pulaski-Forest Park', '2074')]

from collections import namedtuple

# Create the namedtuple: DateDetails
DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the entries list
for date, stop, riders in entries:
    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(DateDetails(date, stop, riders))
    
# Print the first 5 items in labeled_entries
print(labeled_entries[:5])

[DateDetails(date='12/25/2015', stop='Randolph/Wabash', riders='1954'), DateDetails(date='08/02/2016', stop='Western/Milwaukee', riders='5248'), DateDetails(date='08/04/2016', stop='Ashland-Orange', riders='1568'), DateDetails(date='03/13/2016', stop='Oak Park-Forest Park', riders='422'), DateDetails(date='08/13/2016', stop='Pulaski-Forest Park', riders='1452')]

In [73]:
print(labeled_entries)

[DateDetails(date='12/25/2015', stop='Randolph/Wabash', riders='1954'), DateDetails(date='08/02/2016', stop='Western/Milwaukee', riders='5248'), DateDetails(date='08/04/2016', stop='Ashland-Orange', riders='1568'), DateDetails(date='03/13/2016', stop='Oak Park-Forest Park', riders='422'), DateDetails(date='08/13/2016', stop='Pulaski-Forest Park', riders='1452'), DateDetails(date='05/30/2015', stop='Rosemont', riders='4770'), DateDetails(date='06/22/2016', stop='Harlem-Lake', riders='3749'), DateDetails(date='01/02/2016', stop='Randolph/Wabash', riders='4724'), DateDetails(date='12/28/2015', stop='Montrose-Brown', riders='1699'), DateDetails(date='05/16/2015', stop='Main', riders='906'), DateDetails(date='03/29/2016', stop='Pulaski-Lake', riders='1597'), DateDetails(date='11/15/2015', stop='East 63rd-Cottage Grove', riders='661'), DateDetails(date='11/08/2015', stop="Belmont-O'Hare", riders='2674'), DateDetails(date='06/19/2015', stop='Armitage', riders='4528'), DateDetails(date='08/31/2016', stop='Foster', riders='803'), DateDetails(date='11/23/2015', stop='Pulaski-Cermak', riders='1298'), DateDetails(date='04/13/2015', stop='Garfield-Dan Ryan', riders='3788'), DateDetails(date='07/19/2015', stop='Central-Lake', riders='1371'), DateDetails(date='07/14/2015', stop='King Drive', riders='687'), DateDetails(date='04/12/2015', stop='63rd-Dan Ryan', riders='1767'), DateDetails(date='01/18/2016', stop='Damen-Brown', riders='1558'), DateDetails(date='08/20/2015', stop='79th', riders='7645'), DateDetails(date='05/29/2016', stop='Library', riders='1680'), DateDetails(date='08/16/2015', stop='Kedzie-Brown', riders='1203'), DateDetails(date='08/02/2015', stop='Oak Park-Lake', riders='1044'), DateDetails(date='06/03/2015', stop='Pulaski-Forest Park', riders='2074')]